* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Helvetica, sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #313456;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  background-color: #313456;
}

button {
  margin: auto 10px;
  background-color: #ddc586;
  color: white;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #6361a3;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  position: fixed;
  z-index: 100;
}

.left-section {
  width: 150px;
  display: flex;
  align-items: center;
}

#logo {
  width: 100px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 20px;
}

.right-section {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
