* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Helvetica, sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.disappear {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #beb9ac;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #ddc586;
  transition: all 0.25s ease-in;
}

a:hover {
  color: #beb9ac;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #313456;
}

body {
  background-color: #313456;
}

.btn {
  margin: auto 1vh;
  background-color: #6361a3;
  color: white;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 10px;
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #ddc586;
}

.highlight {
  background-color: #ddc586;
}

#nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background: rgba(49, 52, 86, 0.8);
  height: 10vh;
}

#left-section {
  width: 10vw;
  display: flex;
  align-items: center;
}

#left-section h1 {
  white-space: nowrap;
}

#logo {
  width: 60px;
  margin-right: 3vh;
  margin-left: 2vh;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-page {
  /*Adds margin to the top of the viewport*/
  scroll-margin-block-start: 10vh;

  position: relative;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7vh 5vw;
  width: 70%;
  height: 50%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.15);
}

.projects-right,
.skills-right,
.about-right {
  margin-left: 4vw;
}

@media screen and (max-width: 960px) {
  .sub-page {
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-start: 10vh;
    position: relative;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 4vh 5vw;
    width: 70%;
    height: 50%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .btn:hover {
    background-color: #6361a3;
  }

  #nav {
    display: flex;
    position: sticky;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background: rgba(49, 52, 86, 0.8);
    height: 10vh;
  }

  .projects-right,
  .skills-right,
  .about-right {
    margin-left: 0px;
  }

  h2 {
    margin: 2vh auto;
  }

  .other-left {
    text-align: center;
    margin-bottom: 3vh;
  }
}

.pic-me {
  height: 25vh;
  border-radius: 12.5vh;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about-left h1 {
  margin-bottom: 3vh;
}

.other-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-right p,
.skills-right p,
.about-right p {
  color: #beb9ac;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: justify;
}

.projects-right h3 {
  color: #ddc586;
  margin-top: 5px;
}

.projects-right h4 {
  color: #fff;
  margin-top: 5px;
}

.projects-right-box {
  display: flex;
  flex-direction: column;
  height: 47vh;
  overflow-y: scroll;
}

.footer-container {
  display: flex;
  margin: 5vh auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 7vh 5vw;
  width: 70%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

.footer-logo {
  height: 80px;
}

.footer-container h2 {
  margin-bottom: 10px;
}

.website-rights {
  margin-top: 15px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-link {
  margin: 8px;
}

.linkedin,
.email,
.github,
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.tooltip {
  position: absolute;
  bottom: -10px;
  background-color: #6361a3;
  color: white;
  border-radius: 2px;
  font-size: 10px;
  padding: 2px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
}

.linkedin:hover .tooltip,
.email:hover .tooltip,
.github:hover .tooltip,
.resume:hover .tooltip {
  opacity: 1;
  transition: opacity 0.5s;
}
