.words {
  background-color: lightblue;
  border-radius: 50px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 5px;
  margin-top: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.words:hover {
  background-color: lightpink;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
