body {
  background-color: #313456;
}

.words {
  background-color: #ddc586;
  border-radius: 50px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 5px;
  margin-top: 3px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.words:hover {
  background-color: #d1b28d;
  opacity: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
